*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left, rgb(138, 43, 226), transparent), url(/images/bernie.jpg
    );
    background-size: cover;
    background-position: center;
}

nav{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 400px; 
}

ul li{
    display: inline-block;
    padding: 0 20px;
}

ul li a{
    text-decoration: none;
    color: white;
    transition: 0.5s;
}

ul li a:hover{
    background:  blueviolet;
    width: 100%;
    padding: 5px;
    border-radius: 3px;
}

label{
    color: white;
    width: 150px;
    background: blueviolet;
    padding: 15px;
    text-align: center;
    border-radius: 3px;
}

.main{
    position: absolute;
    left: 60%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.main h1{
    font-size: 50px;
    color: white;
    letter-spacing: 10px;
}
.about-us{
    width: 100%;
    height: 100vh;
    background-color: blueviolet;
}

.about-row{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
    padding-top: 50px;
    align-items: center;
}
.about-row img{
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 3px;
}
@media only screen and (max-width: 600px){
    nav{
        display: flex;
        justify-content: center;
        padding-top: 30px;
        gap: 5px; 
    }
    .main h1{
        font-size: 30px;
        letter-spacing: 5px;
    }
}



